<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" />
    </form>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/postsDelete.js"></script>
  </body>
</html>