<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
    <li>{{this.message}}</li>
    <a class="delete-post" href="#" data-id="{{this._id}}">Delete</a>

    {{!-- <div>
      <a class="comment-post" href="#" comment-id="{{this._id}}">Delete</a>
    </div> --}}
  {{/each}}
</ul>
<a class="new-post-link" href="/posts/new">New post</a>